body{
    margin: 0px;
    background-color: rgb(116, 115, 115);
    font-family: Arial, Helvetica, sans-serif, serif;
}
header{
    background-color: darkgray;
    display: flex;
}

header h1{
    float: left;
    width: 75%;
    align-self: center;
}

figure{
    border: 2px dashed black;
    margin: 20px auto;
}

section{
    border: 2px dashed black;
    margin: 20px auto;
}

footer{
    border: 2px dashed black;
    margin: 20px auto;
}

.side-box{
    border-right: 5px solid black;
    text-align: right;
    width: 20%;
    height: 150px;
    padding-right: 15px;
    font-size: 40px;
    font-weight: bold;
}

.container{
    display: flex;
    justify-content: right;
}

.content-text{
    text-align: left;
    border: 2px dashed black;  
    width: 75%;
    margin: auto;
}

.content-cards{
    text-align: left;
    border: 2px dashed black;  
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-contact{
    text-align: left;
    border: 2px dashed black;  
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    display: flex;
    background-color: rgb(22, 133, 68);
    height: 50px;
    width: 40%;
    align-self: center;
    justify-content: space-around;
    text-align: center;
}

.navbar-item{
    display: inline;
    border: 2px dashed black;
    justify-content: right;
    text-decoration: none;
    color: black;
    margin: 0px 20px;

}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
img{
    display: block;
    margin: 0 auto;
    width: 50%;
}