body{
    margin: 0px;
    background-color: rgb(116, 115, 115);
    font-family: Arial, Helvetica, sans-serif, serif;
}

header{
    background-color: darkgray;
    display: flex;
}

header h1{
    float: left;
    width: 75%;
    align-self: center;
}

section, 
footer{
    margin: 20px auto;
}

.header-img{
    background-image: url(../img/wip.png);
    background-size: cover;
    min-height: 25vh;
}

.side-box{
    text-align: right;
    width: 20%;
    height: 150px;
    padding-right: 15px;
    font-size: 40px;
    font-weight: bold;
}

.container{
    display: flex;
    justify-content: right;
}

.content-text{
    text-align: left;
    width: 70%;
    margin: 20px 15% 20px 20px;
    border-left: 5px solid black;
    padding: 0 0 0 15px;
}

.content-cards{
    text-align: left;
    margin: 20px 50px 50px 20px;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    border-left: 5px solid black;
}

.card-column{
    width: 400px;
    height: 150px;
    border: 4px solid rgb(8, 77, 2);  
}

.card-header{
    position: relative;
    border: 4px solid rgb(8, 77, 2);
    margin: 60px 60px 0 -25px;
    background: rgb(107, 209, 82);
    width: 190px;
    height: 46px;

}

.content-contact{
    text-align: left;
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 5px solid black;
    padding: 0 0 0 15px;
}

.content-subtext{
    text-align: left;
    font-weight: lighter;
    font-size: 14px;
    margin: 2px 25% 2px 25%;
}
.navbar{
    display: flex;
    background-color: rgb(22, 133, 68);
    height: 50px;
    width: 40%;
    align-self: center;
    justify-content: space-around;
    text-align: center;
}

.navbar-item{
    display: inline;
    border: 4px solid black;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin: 6px 15px 6px 15px;
    padding: 4px 15px 4px 15px;
}

.card-column:hover,
.card-column:hover .card-header{
    border: 4px solid rgb(218, 140, 38);  
    cursor: pointer;
}

.card-column:hover .card-header{
    background: rgb(202, 115, 33);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
img{
    display: block;
    margin: 0 auto;
    width: 50%;
}

@media screen and (min-width: 768px){
    ul{
        display: block;
    }

    li{
        display: block;
    }
}

@media screen and (min-width: 992px) {
    
}